<div class="col-md-8 col-md-offset-2">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group"> 
                <label for="email">Adresse mail</label>
                <input formControlName="email" type="email" id="email" class="form-control">
                
                <label for="password">Mot de passe</label>
                <input formControlName="password" type="password" id="password" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Envoyer</button>
        </form>
    </div>