<div class="panel panel-primary col-md-8 col-md-offset-2">
    <div class="panel-heading">
        <h2 class="panel-title">Ajouter un repas</h2>
    </div>
    <div class="panel-body">
        <form [formGroup]="myLunchForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="geoLocation">Positionnez le marqueur à l'endroit ou vous désirez déjeuner</label>                
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" id="geoLocation" >
                <agm-marker  
                [latitude]="latitude" 
                [longitude]="longitude" 
                [markerDraggable]="true" 
                (dragEnd)="markerDragEnd(m, $event)">
                </agm-marker>
        </agm-map>
        <label for="locationName">Nom de l'endroit</label>
        <input formControlName="locationName" type="text" id="locationName" class="form-control">
        
        <label for="numberGuests">Nombres de convives souhaités</label>
        <input type="number" min="1" max="10" step="1" value="1" class="form-control" formControlName="numberGuests" id="numberGuests">
        
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Envoyer</button>
    </form>
    </div>
</div>