<li class="list-group-item">
                <label class="label label-primary" for="locationName">Description du lieu </label>
                <div id="locationName">{{lunch.locationName}} </div>
                <label class="label label-primary" for="userHost">Proposé par </label>
                <div id="userHost">{{lunch.userHost}} </div>
                <label class="label label-primary" for="remainingPlaces">Places restantes </label>
                <div id="remainingPlaces">{{lunch.remainingPlaces}} </div>
                <span *ngIf="lunch.distance !==null" class="badge" id="distance">
                    <span *ngIf="lunch.distance > 1">{{lunch.distance | round}} km</span>
                    <span *ngIf="lunch.distance < 1">{{(lunch.distance * 1000) | round}} m</span> 
                </span>

</li>